Repository voxpupuli/puppet-openssl, pull requests merged in 2022-12, with the labels that each got.

#146 Allow cert_file to download certificates via https
  lib/puppet/provider/cert_file/posix.rb
Labels: enhancement

#149 templates/cert.cnf.erb should use @, not $
  manifests/configs.pp
  templates/cert.cnf.erb
Labels: bug

#150 modulesync 5.4.0
  .msync.yml
  Gemfile
Labels: modulesync
