Repository voxpupuli/puppet-openssl, pull requests merged in 2023-05, with the labels that each got.

#162 add puppet7 support; namespace all functions
  REFERENCE.md
  lib/puppet/functions/openssl/cert_aia_caissuers.rb
  lib/puppet/functions/openssl/cert_date_valid.rb
  metadata.json
  spec/functions/cert_aia_caissuers_spec.rb
  spec/functions/cert_date_valid_spec.rb
Labels: backwards-incompatible

#163 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible

#160 modulesync 6.0.0
  .msync.yml
  Gemfile
Labels: modulesync

#143 Enlarge key size based on new security requirement
  manifests/certificate/x509.pp
Labels: backwards-incompatible

#159 enable single config file support
  REFERENCE.md
  manifests/config.pp
  manifests/configs.pp
Labels: backwards-incompatible

#153 add ability to certificate provider to get signed against a CA cert
  REFERENCE.md
  lib/puppet/provider/x509_cert/openssl.rb
  lib/puppet/type/x509_cert.rb
  manifests/certificate/x509.pp
  spec/unit/puppet/provider/x509_cert/openssl_spec.rb
  spec/unit/puppet/type/x509_cert_spec.rb
Labels: enhancement

#164 moves config management to config provider for X509 certificate; moves certificate from v1 to v3
  REFERENCE.md
  lib/puppet/provider/x509_cert/openssl.rb
  manifests/certificate/x509.pp
  manifests/config.pp
  spec/defines/openssl_certificate_x509_spec.rb
  spec/unit/puppet/provider/x509_cert/openssl_spec.rb
  templates/cert.cnf.erb
Labels: backwards-incompatible
