Repository voxpupuli/puppet-openssl, pull requests merged in 2024-07, with the labels that each got.

#200 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#199 export/{pem_cert,pem_key,pkcs12}: `passin`, `passout`: use `shellquote()` instead of single quotation marks
  manifests/export/pem_cert.pp
  manifests/export/pem_key.pp
  manifests/export/pkcs12.pp
Labels: bug

#201 Release 3.1.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#202 feat: refreshable exports
  README.md
  REFERENCE.md
  manifests/export/pem_cert.pp
  manifests/export/pem_key.pp
  manifests/export/pkcs12.pp
  spec/defines/openssl_export_pem_cert_spec.rb
Labels: enhancement

#207 Drop EoL Debian 8,9,10 support
  metadata.json
Labels: backwards-incompatible

#205 Add Debian 11 support
  metadata.json
Labels: enhancement

#206 Add Debian 12 support
  metadata.json
Labels: enhancement

#208 Drop EoL Ubuntu 14.04,16.04,18.04
  metadata.json
Labels: backwards-incompatible

#209 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#210 Add EL9 support
  metadata.json
Labels: enhancement

#211 Drop EoL RedHat 6 and 7 support
  metadata.json
Labels: backwards-incompatible

#191 Add Ubuntu 24.04 support
  metadata.json
Labels: enhancement

#213 Add AlmaLinux 8 & 9 support
  metadata.json
Labels: enhancement

#192 Add basic acceptance tests for the existing examples
  .github/workflows/ci.yml
  .sync.yml
  examples/x509_cert.pp
  spec/acceptance/dhparam_spec.rb
  spec/acceptance/x509_cert_spec.rb
  spec/spec_helper_acceptance.rb
  spec/support/acceptance/matchers/match_without_whitespace.rb
Labels: enhancement

#216 Add OracleLinux 8 & 9 support
  REFERENCE.md
  lib/puppet/provider/x509_cert/openssl.rb
  lib/puppet/type/x509_cert.rb
  manifests/certificate/x509.pp
  metadata.json
  spec/defines/openssl_certificate_x509_spec.rb
  spec/unit/puppet/provider/x509_cert/openssl_spec.rb
Labels: enhancement

#214 Allow passing a CA key password when signing a cert
  REFERENCE.md
  lib/puppet/provider/x509_cert/openssl.rb
  lib/puppet/type/x509_cert.rb
  manifests/certificate/x509.pp
  spec/defines/openssl_certificate_x509_spec.rb
  spec/unit/puppet/provider/x509_cert/openssl_spec.rb
Labels: enhancement

#217 Add Archlinux support
  metadata.json
Labels: enhancement

#190 Use OpenSSL::PKey.read to read private keys
  REFERENCE.md
  lib/puppet/provider/x509_cert/openssl.rb
  lib/puppet/provider/x509_request/openssl.rb
  lib/puppet/type/x509_cert.rb
  lib/puppet/type/x509_request.rb
  spec/unit/puppet/provider/cert_file/posix_spec.rb
  spec/unit/puppet/provider/ssl_pkey/openssl_spec.rb
  spec/unit/puppet/provider/x509_cert/openssl_spec.rb
  spec/unit/puppet/provider/x509_request/openssl_spec.rb
  spec/unit/puppet/type/x509_cert_spec.rb
  spec/unit/puppet/type/x509_request_spec.rb
Labels: backwards-incompatible

#221 password encryption: switch from des3->aes-256-cbc
  lib/puppet/provider/ssl_pkey/openssl.rb
  spec/unit/puppet/provider/ssl_pkey/openssl_spec.rb
Labels: backwards-incompatible

#222 Drop DSA key support
  REFERENCE.md
  lib/puppet/provider/ssl_pkey/openssl.rb
  lib/puppet/type/ssl_pkey.rb
  spec/unit/puppet/provider/ssl_pkey/openssl_spec.rb
  spec/unit/puppet/type/ssl_pkey_spec.rb
Labels: backwards-incompatible

#223 Support OpenSSL 3
  lib/puppet/provider/ssl_pkey/openssl.rb
  spec/unit/puppet/provider/ssl_pkey/openssl_spec.rb
Labels: enhancement

#186 Use private_key parameter when creating certificate
  manifests/certificate/x509.pp
Labels: bug

#167 Add Puppet 8 support
  metadata.json
Labels: enhancement

#219 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
