Repository voxpupuli/puppet-openssl, pull requests merged in 2025-02, with the labels that each got.

#234 modulesync 9.4.0
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .vscode/extensions.json
Labels: modulesync

#235 fix default configs file ownership
  manifests/configs.pp
  spec/classes/configs_spec.rb
Labels: bug

#129 add user/group/mode parameter to custom types
  REFERENCE.md
  lib/puppet/provider/dhparam/openssl.rb
  lib/puppet/provider/openssl.rb
  lib/puppet/provider/ssl_pkey/openssl.rb
  lib/puppet/provider/x509_cert/openssl.rb
  lib/puppet/provider/x509_request/openssl.rb
  lib/puppet/type/dhparam.rb
  lib/puppet/type/ssl_pkey.rb
  lib/puppet/type/x509_cert.rb
  lib/puppet/type/x509_request.rb
  spec/unit/puppet/type/dhparam_spec.rb
  spec/unit/puppet/type/ssl_pkey_spec.rb
  spec/unit/puppet/type/x509_cert_spec.rb
  spec/unit/puppet/type/x509_request_spec.rb
Labels: enhancement
